<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='bootstrap/css/bootstrap.min.css' />
    <!--<link rel='stylesheet' href='stylesheets/style.css' />-->
    <style>
      p#footer {
          background-color: orange;
      }
    </style>
  </head>
  <body >
    <p id="footer">Footer</p>
    <!--<script>alert($("#amit").text());</script>-->
  </body>
</html>
