<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
  </head>
  <body>
    <div id="main-contents">
      
      <div class="row">
        
        <% include ./partials/todays_alerts %> 
        <div id='content-react-App'></div>
         
      </div>      
    </div>  
    
   <script type="text/javascript" src="javascripts/bundle.js" charset="utf-8"></script> 
    
  </body>
</html>
